apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.applicationName }}
  labels:
    {{- include "fasttest-rollout.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "fasttest-rollout.selectorLabels" . | nindent 6 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.applicationName }}-stable
  labels:
    {{- include "fasttest-rollout.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "fasttest-rollout.selectorLabels" . | nindent 6 }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.applicationName }}-canary
  labels:
    {{- include "fasttest-rollout.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "fasttest-rollout.selectorLabels" . | nindent 6 }}